# SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD
---
name: Build the buildkit container

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/buildkit-service.yaml
      # Only run on main when the workflow definition changes (which indicates a version bump from the upstream project)
      # - docker-bake.hcl

  pull_request:
    paths:
      - .github/workflows/buildkit-service.yaml
      - docker-bake.hcl

  merge_group:
    paths:
      - .github/workflows/buildkit-service.yaml
      - docker-bake.hcl

  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.container }}
  cancel-in-progress: true

jobs:
  build-buildkit:
    runs-on: ubuntu-24.04
    name: buildkit-service images
    permissions:
      contents: read # for actions/checkout
      packages: write # for docker/bake-action
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'Push' || 'Build' }} the buildkit container
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        env:
          IMAGE: ghcr.io/${{ github.repository_owner }}/containers/buildkit
          SOURCE_DATE_EPOCH: "0"
        with:
          source: .
          files: |
            ./docker-bake.hcl
          targets: buildkit-service
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          set: |
            *.cache-from=type=gha,scope=buildkit
            *.cache-to=type=gha,scope=buildkit,mode=max
