# SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD
---
name: Build the committed container

on:
  push:
    branches:
      - main
    paths:
      # Only run on main when the workflow definition changes (which indicates a version bump from the upstream project)
      # - .github/workflows/docker.yaml
      - .github/workflows/committed.yaml
      # - docker/rust.Dockerfile
      # - docker-bake.hcl

  pull_request:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/committed.yaml
      - docker/rust.Dockerfile
      - docker-bake.hcl

  merge_group:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/committed.yaml
      - docker/rust.Dockerfile
      - docker-bake.hcl

  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-committed:
    uses: ./.github/workflows/docker.yaml
    with:
      name: committed
      # renovate: datasource=github-releases depName=crate-ci/committed
      version: v1.1.8
      revision: bb02f309663f9baced8dbd5fdd80c6369ddf3efd
      upstream: crate-ci/committed
      version_var: COMMITTED_TAG
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: read # for actions/checkout
      packages: write # for docker/bake-action
