# SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD
---
name: Build Container Images

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      version:
        required: true
        type: string
      version_var:
        required: true
        type: string
      revision:
        required: true
        type: string
      upstream:
        required: true
        type: string
      push:
        required: true
        type: boolean

permissions:
  contents: read # for actions/checkout

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.container }}
  cancel-in-progress: true

jobs:
  containers:
    runs-on: ubuntu-24.04
    name: ${{ inputs.name }} ${{ inputs.version }}
    permissions:
      contents: read # for actions/checkout
      packages: write # for docker/bake-action
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set SOURCE_DATE_EPOCH to git timestamp
        env:
          GH_TOKEN: ${{ github.token }}
          REVISION: ${{ inputs.revision }}
          UPSTREAM: ${{ inputs.upstream }}
        run: |-
          modification=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" "repos/$UPSTREAM/commits/$REVISION" --jq ".commit.committer.date" | xargs date +%s -d)
          echo "SOURCE_DATE_EPOCH=$modification" >> "$GITHUB_ENV"
      - name: Set ${{ inputs.name }} version variable
        env:
          VERSION_VAR: ${{ inputs.version_var }}
          VERSION: ${{ inputs.version }}
        run: |-
          echo "$VERSION_VAR=$VERSION" >> "$GITHUB_ENV"
      - name: ${{ inputs.push && 'Push' || 'Build' }} the ${{ inputs.name }} container
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          source: .
          files: |
            ./docker-bake.hcl
          targets: ${{ inputs.name }}
          push: ${{ inputs.push }}
          set: |
            *.cache-from=type=gha,scope=${{ inputs.name }}
            *.cache-to=type=gha,scope=${{ inputs.name }},mode=max
