# SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD
---
name: Build the typos container

on:
  push:
    branches:
      - main
    paths:
      # Only run on main when the workflow definition changes (which indicates a version bump from the upstream project).
      - .github/workflows/typos.yaml

  pull_request:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/typos.yaml
      - docker/typos.Dockerfile
      - docker-bake.hcl

  merge_group:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/typos.yaml
      - docker/typos.Dockerfile
      - docker-bake.hcl

  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-typos:
    uses: ./.github/workflows/docker.yaml
    with:
      name: typos
      # renovate: datasource=github-releases depName=crate-ci/typos
      version: v1.44.0
      revision: 631208b7aac2daa8b707f55e7331f9112b0e062d
      upstream: crate-ci/typos
      version_var: TYPOS_VERSION
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: read # for actions/checkout
      packages: write # for docker/bake-action
