# SPDX-FileCopyrightText: 2024 Jonas Fierlings <fnoegip@gmail.com>
#
# SPDX-License-Identifier: 0BSD
---
name: Build the typos container

on:
  push:
    branches:
      - main
    paths:
      # Only run on main when the workflow definition changes (which indicates a version bump from the upstream project)
      # - .github/workflows/docker.yaml
      - .github/workflows/typos.yaml
      # - docker/rust.Dockerfile
      # - docker-bake.hcl

  pull_request:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/typos.yaml
      - docker/rust.Dockerfile
      - docker-bake.hcl

  merge_group:
    paths:
      - .github/workflows/docker.yaml
      - .github/workflows/typos.yaml
      - docker/rust.Dockerfile
      - docker-bake.hcl

  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-typos:
    uses: ./.github/workflows/docker.yaml
    with:
      name: typos
      # renovate: datasource=github-releases depName=crate-ci/typos
      version: v1.40.0
      revision: 2d0ce569feab1f8752f1dde43cc2f2aa53236e06
      upstream: crate-ci/typos
      version_var: TYPOS_TAG
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: read # for actions/checkout
      packages: write # for docker/bake-action
